<section class="sidenav position-fixed pt-3">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of countries" (click)="onClickCountry(item)"
            [ngClass]="{'active': selectedCountry == item.code}">{{item.name}}</li>
    </ul>
</section>