<section class="cityList">
    <div class="row pt-5">
        <div class="col-md-12 mt-3">
            <div class="card border-0 mb-3">
                <div class="card-body" *ngIf="selectedCountry">
                    <h3>{{selectedCountry?.name}}</h3>
                </div>
            </div>
        </div>
        <ng-container *ngIf="cityWithTemp?.length">

            <div class="col-md-3 mb-3" *ngFor="let item of cityWithTemp">
                <div class="card border-0 h-100 shadow" (scroll)="scrollHandler($event)">
                    <div class="card-body text-center">
                        <h4 class="text-dark"> {{item?.value}}</h4>
                        <p class="text-muted"> {{item?.timezone}}</p>
                        <div class="row">
                            <div class="col-md-12 text-center mb-3">
                                <h2 *ngIf="item.temp" class="fw-bold">{{item.temp.temp}}&deg; C</h2>
                                <span *ngIf="!item.temp"> No Data</span>
                            </div>
                            <div class="col-md-12 text-center" *ngIf="item.temp">
                                <img class="" *ngIf="item.temp.temp>24" src="../../../../assets/sun.png">
                                <img class="" *ngIf="item.temp.temp>12 && item.temp.temp<24 " src="../../../../assets/raining.png">
                                <img class="" *ngIf="item.temp.temp<12" src="../../../../assets/snow.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <button (click)="loadMore()" *ngIf="cityWithTemp.length && cityWithTemp.length<30">load more</button>
        <span *ngIf="!cityWithTemp?.length"> NO DATA FOUND</span>
    </div>
</section>