<app-navbar></app-navbar>
<section class="main-wrapper">
    <aside area-label="" class="sidenav pt-5">
        <app-sidebar></app-sidebar>
    </aside>
    <aside area-label="" class="main-content-area" area-label="">
        <aside class="global-width" area-label="">
            <router-outlet></router-outlet>
        </aside>
    </aside>
</section>